@model QBCS.Service.ViewModel.TopicViewModel

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="card shadow mb-4">
        <div class="card-header">
            <h3 class="m-0 font-weight-bold text-primary">Edit Topic</h3>
        </div>

        <div class="card-body" style="padding-left:30px">
            <div id="error" style="color:red"></div>
            <div>
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                <input class="form-control" type="text" id="Name" name="Name" />
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Code, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                <input class="form-control" type="text" id="Code" name="Code" />
                            </div>
                        </div>

                        @*<div class="form-group">
                        @Html.LabelFor(model => model.CourseId, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.CourseId, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.CourseId, "", new { @class = "text-danger" })
                        </div>
                    </div>*@
                        <div class="form-group">
                            @Html.LabelFor(model => model.CourseId, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                <select class="form-control" id="Course"></select>

                            </div>
                        </div>
                        <div class="">
                            <div style="text-align:right">
                                <button id="submit" class="btn-lg btn-primary">Add</button>
                                <a href="@Url.Action("Index", "Topic")" class="btn-lg btn-default" style="border-bottom:2px solid gray;border-right:2px solid gray">Return to Index</a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>

<script src="~/Scripts/jquery-3.3.1.js"></script>
<script>
    $(document).ready(function () {
    $.ajax({
        type: "GET",
        contentType: "application/json; charset=utf-8",
        url: "@Url.Action("LoadCourse","Topic")",
        dataType: "json",
        success: function (result) {
            for (var i = 0; i < result.length; i++) {
                    if (result[i].Id == @Model.CourseId) {
                        $("#Course").append("<option id=" + result[i].Id + " selected>" +
                            result[i].Name + "</option>");
                    } else {
                        $("#Course").append("<option id=" + result[i].Id + ">" +
                            result[i].Name + "</option>");
                    }
            }
        },
        error: function (result) {
            alert("Error");
        }
    });
        $('#submit').on('click', function () {
            var topic = new Object();
            topic.Id = @Model.Id;
            topic.Code = $('#Code').val();
            topic.Name = $('#Name').val();
            topic.CourseId = $('#Course').children(":selected").attr("id");
            if (topic.Code == "" || topic.Name == "") {
                $('#error').text("*Code and Name must be filled");
            }else if (topic != null) {
                $.ajax({
                type: "POST",
                url: '@Url.Action("Edit","Topic")',
                data: JSON.stringify(topic),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function(response) {
                    if (response != null) {
                        window.location.replace('@Url.Action("Index","Topic")');
                    }
                },
                failure: function(response) {
                    alert(response.responseText);
                },
                error: function(response) {
                    alert(response.responseText);
                }
            });
            }
        });
    });

</script>
