@using QBCS.Service.ViewModel

@{ 
    var homeClass = "";
    var courseClass = "";
    var importClass = "";
    var userClass = "";
    var controller = this.ViewContext.RouteData.Values["controller"].ToString();
    switch (controller)
    {
        case "Home":
            homeClass = "active";
            break;
        case "Course":
            courseClass = "active";
            break;
        case "Import":
            importClass = "active";
            break;
        case "User":
            userClass = "active";
            break;
    }
    }

<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar"
    onclick="nav_bar_active()">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center" href="index.html">
      
        <div class="col-xs-6 col-sm-4">
            <h2 class="text-primary text-light font-italic font-weight-bolder">QBCS</h2>
        </div>
            @*<img src="~/Content/logo_transparent.png" width="134" height="134"/>*@
       
        <div class="sidebar-brand-text mx-3"></div>
    </a>
    
    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <li class="nav-item @homeClass">
        <a class="nav-link" href="@Url.Action("Index", "Home",new { id = ((UserViewModel)Session["user"]).Id })">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span>
        </a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <!-- Nav Item - Courses Menu -->
    <li class="nav-item @courseClass">
        <a class="nav-link" href="@Url.Action("Index", "Course",new { userId = ((UserViewModel)Session["user"]).Id })">
            <i class="fas fa-book"></i>
            <span>Courses</span>
        </a>
    </li>

    <!-- Nav Item - Question Menu -->
    <li class="nav-item @importClass">
        <a class="nav-link" 
           href="@Url.Action("Index", "Import")">
            <i class="fas fa-question"></i>
            <span>History</span>
        </a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <!-- Nav Item - Account -->
    <li class="nav-item @userClass">
        <a class="nav-link" 
           href="@Url.Action("Details", "User",new { userId = ((UserViewModel)Session["user"]).Id })">
            <i class="fas fa-user fa-chart-area"></i>
            <span>Profile</span>
        </a>
    </li>




    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

</ul>
