@model IEnumerable<QBCS.Service.ViewModel.QuestionTempViewModel>
@using QBCS.Service.Enum

@{
    ViewBag.Title = "ListQuestion";
    int counter = 0;
    string alpha = "ABCDEFGHIKLMNOPQRSTUVWXYZ";
}

@*@if (Model != null && Model.Count() > 0)
{*@
    <div class="card shadow mb-4" id="testhere">

        <div class="card-body text-custom">
            <div class="table-responsive text-custom">
                <table class="table table-bordered text-custom" id="@ViewData["tableId"]" width="100%" cellspacing="0">
                    @*  id="datatable"  *@
                    <thead>
                        <tr>
                            <th>No.</th>
                            <th>Question</th>
                            @if (ViewData["tableId"].Equals("tableEditable1") || ViewData["tableId"].Equals("tableEditable2"))
                            {
                                <th>Duplicated With</th>
                            }
                            @if (ViewData["tableId"].Equals("tableInvalid"))
                            {
                                <th>Error</th>
                            }
                            @if (!ViewData["tableId"].Equals("tableSuccess"))
                            {
                                <th>Action</th>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        @*@foreach (var item in Model)
                        {
                            var borderLeft = "";
                            var action = "";
                            if (item.Status == StatusEnum.Delete)
                            {
                                //borderLeft = "border-left-danger";
                            }
                            else if (item.Status == StatusEnum.Editable)
                            {
                                //borderLeft = "border-left-warning";
                                action = "editableTemp";
                            }
                            else if (item.Status == StatusEnum.Success)
                            {
                                //borderLeft = "border-left-success";
                            }
                            <tr class="@action" data-id="@item.Id">
                                @{
                                    counter++;
                                }
                                <td class="@borderLeft">@counter</td>
                                <td>
                                    <p class="text-custom">Category: @item.Category <br/>
                                    Question Code: @item.Code</p>
                                    @item.QuestionContent <br />
                                    @if (item.Image != null)
                                    {
                                                          <p><img class="exam-image" onclick="img_zoom(this)" src="data:image/png;base64, @item.Image" /></p>
                                    }
                                    @for (var i = 0; i < item.Options.Count; i++)
                                    {
                                        if (item.Options[i].IsCorrect == true)
                                        {
                                            <div class="container-fluid text-right-answer">
                                                @(alpha[i] + ".") @Html.DisplayFor(optionItem => item.Options[i].OptionContent)
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="container-fluid">
                                                @(alpha[i] + ".") @Html.DisplayFor(optionItem => item.Options[i].OptionContent)
                                            </div>
                                        }

                                        <br />
                                    }
                                </td>
                                @if (item.Status == StatusEnum.Delete
                                    || item.Status == StatusEnum.DeleteOrSkip
                                    || item.Status == StatusEnum.Editable)
                                {
                                <td>
                                    @if (item.DuplicatedQuestion != null && item.Status != StatusEnum.NotCheck)
                                    {
                                        <p> </p>
                                        <p class="text-custom">@item.DuplicatedQuestion.CourseName - @item.DuplicatedQuestion.Code</p>
                                        @Html.DisplayFor(modeItem => item.DuplicatedQuestion.QuestionContent)
                                        if (item.Image != null)
                                        {
                                        <p><img class="exam-image" onclick="img_zoom(this)" src="data:image/png;base64, @item.Image" /></p>
                                        }
                                        for (var i = 0; i < item.DuplicatedQuestion.Options.Count; i++)
                                        {
                                            if (item.DuplicatedQuestion.Options[i].IsCorrect == true)
                                            {
                                                <div class="container-fluid text-right-answer">
                                                    @(alpha[i] + ".") @Html.DisplayFor(optionItem => item.DuplicatedQuestion.Options[i].OptionContent)
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="container-fluid">
                                                    @(alpha[i] + ".") @Html.DisplayFor(optionItem => item.DuplicatedQuestion.Options[i].OptionContent)
                                                </div>
                                            }

                                            <br />
                                        }
                                    }
                                </td>
                                }
                                @if (item.Status == StatusEnum.Invalid)
                                {
                                    <td>@item.Message</td>
                                    <td>
                                        <a href="@Url.Action("GetQuestionTemp", "Import", new { tempId = item.Id })" class="btn btn-primary mb-2 col-md-12">Edit</a>
                                        <a href="@Url.Action("Delete", "Import", new { questionId = item.Id, importId =  ViewData["importId"]})" class="btn btn-danger col-md-12">Delete</a>
                                    </td>
                                }
                                else if (item.Status == StatusEnum.Editable
                                    || item.Status == StatusEnum.Delete
                                    || item.Status == StatusEnum.DeleteOrSkip)
                                {
                                    <td>
                                        <a href="@Url.Action("GetQuestionTemp", "Import", new { tempId = item.Id })" class="btn btn-primary mb-2 col-md-12">Edit</a>
                                        <a href="@Url.Action("Skip", "Import", new { questionId = item.Id, importId =  ViewData["importId"]})" class="btn btn-success mb-2 col-md-12">Accept</a>
                                        <a href="@Url.Action("Delete", "Import", new { questionId = item.Id, importId =  ViewData["importId"]})" class="btn btn-danger col-md-12">Delete</a>
                                    </td>
                                }
                            </tr>
                        }*@
                    </tbody>
                </table>
            </div>
        </div>
    </div>

@*}
else
{
    <p class="text-custom">No record found here! PLease check again.</p>
}*@


