@model IEnumerable<QBCS.Service.ViewModel.QuestionViewModel>
@{
    ViewBag.Title = "ListQuestion";
    int counter = 0;
    string alpha = "ABCDEFGHIKLMNOPQRSTUVWXYZ";
}


<div class="card shadow mb-4">


    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>No.11</th>
                        <th>CourseId</th>
                        <th>Course Name</th>
                        <th class="col-md-8">Question</th>
                        @*<th class="col-md-4">Option</th>*@
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            @{
                                counter++;
                            }
                            <td class="border-left-primary">@counter</td>
                            <td>@item.CourseCode</td>
                            <td>@item.CourseName</td>
                            <td class="col-2">
                                @Html.DisplayFor(modeItem => item.QuestionContent)
                                @for (var i = 0; i < item.Options.Count; i++)
                                {
                                    if (item.Options[i].IsCorrect == true)
                                    {
                                        <div class="container-fluid text-green-success">
                                            @(alpha[i] + ".") @Html.DisplayFor(optionItem => item.Options[i].OptionContent)
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="container-fluid">
                                            @(alpha[i] + ".") @Html.DisplayFor(optionItem => item.Options[i].OptionContent)
                                        </div>
                                    }

                                    <br />
                                }
                            </td>
                            @*<td>
                                    @foreach (var option in item.Options)
                                    {
                                        if (option.IsCorrect == true)
                                        {
                                            <div class="row bg-success text-white container-fluid text-center">
                                                @Html.DisplayFor(optionItem => option.OptionContent)
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="container-fluid">
                                                @Html.DisplayFor(optionItem => option.OptionContent)
                                            </div>
                                        }

                                        <br />
                                    }
                                </td>*@

                        </tr>
                                }
                </tbody>
            </table>
        </div>
    </div>
</div>
@*<div class="container">
        <div class="row">
            <div class="col-lg-12">
                <a href="@Url.Action("AddQuestion", "question", new { courseId = Model.First().Question.CourseId})" class="btn btn-primary float-right">Add Question</a>
            </div>
        </div>
        <div class="row">
            <table class="table">
                <tr>
                    <th>No.</th>
                    <th class="col-md-8">Question</th>


                    <th class="col-md-4">Option</th>


                </tr>

            @foreach (var item in Model)
            {
                <tr>
                        @{
                            counter++;
                        }
                        <td>@counter</td>
                        <td class="col-md-8">@Html.DisplayFor(modeItem => item.Question.QuestionContent)</td>


                        <td class="col-md-4">
                            @foreach (var option in item.Options)
                            {
                                if (option.IsCorrect == true)
                                {
                                    <div class="row bg-success text-white container-fluid text-center">
                                        @Html.DisplayFor(optionItem => option.OptionContent)
                                    </div>
                                }
                                else
                                {
                                    <div class="container-fluid">
                                        @Html.DisplayFor(optionItem => option.OptionContent)
                                    </div>
                                }

                                <br />
                            }
                        </td>


                    </tr>
                }

            </table>
        </div>
    </div>*@




