@model QBCS.Service.ViewModel.ListLearningOutcomeViewModel
@{
    ViewBag.Title = "GenerateExam";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Generate Exam</h2>
@using (Html.BeginForm("GenerateExaminaton", "Examination", new { @class = "form-group" }))
{
    <div id="smartwizard">
        <ul>
            <li><a href="#step-1">Step 1<br /><small>Select amount exam test</small></a></li>
            <li><a href="#step-2">Step 2<br /><small>Select amount question</small></a></li>            
            <li><a href="#step-3">Step 3<br /><small>Select Topic/Learing Outcome</small></a></li>
            <li><a href="#step-4">Step 4<br /><small>Select percent of level</small></a></li>
        </ul>

        <div>
            <div id="step-2" class="">
                <div class="form-inline" style="margin-top:15px;">
                    <div class="form-group">
                        <label for="total" class="control-label col-xs-10">Total question : </label>
                        <div class="col-xs-2 ml-2">
                            <input class="form-control text-right" id="total" min="1" type="number" name="TotalQuestion" required>
                        </div>
                        <label for="semester" class="control-label col-xs-10" style="margin-left:15px;">Semester : </label>
                        <div class="col-xs-2 ml-2">
                            <select id="semester" name="Semeter" class="form-control">
                                @foreach (var sem in Model.Semester)
                                {
                                    <option value="@sem.Id">@sem.Name</option>
                                }
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div id="step-1" class="">
                <div class="form-inline" style="margin-top:15px;">
                    <div class="form-group">
                        <label for="total" class="control-label col-xs-10">Total examination : </label>
                        <div class="col-xs-2 ml-2">
                            <input class="form-control text-right" id="total" type="number" value="1" min="1" name="TotalExam" required>
                        </div>
                    </div>
                </div>
            </div>
            <div id="step-3" class="">
                <div id="check-all-div" style="margin:18px;">
                    <table>
                        <tbody>
                            <tr class="d-flex">
                                <td class="col-lg-1">
                                    <div class="el-checkbox text-center">
                                        <span class="margin-r"></span>
                                        <input type="checkbox" name="check" id="check-all">
                                        <label class="el-checkbox-style" for="check-all"></label>
                                    </div>

                                </td>
                                <td class="col-lg-11">
                                    <h5 style="padding-left:20px;">Select All</h5>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
                <div id="listTopic" class="form-group">
                    <table class="table table-striped">
                        <tbody>
                            @foreach (var lo in Model.LearningOutcomes)
                            {
                                <tr class="d-flex">
                                    <td class="col-1">
                                        <div class="el-checkbox  text-center form-group">
                                            <span class="margin-l"></span>
                                            <input value="@lo.IdValue" type="checkbox" class="checkbox" name="Topic" id="@lo.IdValue" />
                                            <label class="el-checkbox-style" for="@lo.IdValue"></label>
                                        </div>
                                    </td>
                                    <td class="col-11">
                                        <h5 style="word-wrap:break-word;">@lo.Name</h5>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <div id="step-4" class="">
                <div class="container-custom">
                    <div class="tab-slider--nav">
                        <ul class="tab-slider--tabs">
                            <li class="tab-slider--trigger active" rel="tab1">Enter by percentage</li>
                            <li class="tab-slider--trigger" rel="tab2">Enter by grade</li>
                        </ul>
                    </div>
                    <div class="tab-slider--container">
                        <div id="tab1" class="tab-slider--body">
                            <h2>Enter by percentage</h2>
                            <div class="form-inline" style="margin-top:15px;">
                                <div class="form-group">
                                    <label for="easy" class="control-label col-xs-10">Percent of easy question : </label>
                                    <input class="form-control ml-5 text-right" id="easy" min="0" type="number" style="margin-left:1.5em;" name="EasyPercent">
                                    <input type="hidden" name="FlagPercent" value="percent" id="flagPercent"/>
                                </div>
                            </div>
                            <div class="form-inline" style="margin-top:15px;">
                                <div class="form-group">
                                    <label for="normal" class="control-label col-xs-10">Percent of medium question :</label>
                                    <div class="col-xs-2">
                                        <input class="form-control ml-3 text-right" id="normal" min="0" type="number" name="MediumPercent">
                                    </div>
                                </div>
                            </div>
                            <div class="form-inline" style="margin-top:15px;">
                                <div class="form-group">
                                    <label for="hard" class="control-label col-xs-10">Percent of hard question : </label>
                                    <div class="col-xs-2">
                                        <input class="form-control ml-5 text-right" id="hard" min="0" type="number" style="margin-left:1.5em;" name="HardPercent">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="tab2" class="tab-slider--body">
                            <h2>Enter by grade</h2>
                            <div class="form-inline" style="margin-top:15px;">
                                <div class="form-group">
                                    <label for="ordinary" class="control-label col-xs-10">Minimum grade of ordinary student : </label>
                                    <input class="form-control text-right" id="ordinary" type="number" min="0" style="margin-left:1em;" name="OrdinaryGrade"> / 100
                                </div>
                            </div>
                            <div class="form-inline" style="margin-top:15px;">
                                <div class="form-group">
                                    <label for="good" class="control-label col-xs-10">Minimum grade of good student :</label>
                                    <div class="col-xs-2">
                                        <input class="form-control text-right" id="good" type="number" min="0" style="margin-left:2.3em;" name="GoodGrade"> / 100
                                    </div>
                                </div>
                            </div>
                            <div class="form-inline" style="margin-top:15px;">
                                <div class="form-group">
                                    <label for="excellent" class="control-label col-xs-10">Minimum grade of excellent student : </label>
                                    <div class="col-xs-2">
                                        <input class="form-control text-right" id="excellent" type="number" min="0" style="margin-left:0.9em;" name="ExcellentGrade"> / 100
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

}