@model IEnumerable<QBCS.Service.ViewModel.ExaminationViewModel>

@{
    ViewBag.Title = "ListExamination";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/bundles/content/datatables")
@Styles.Render("~/bundle/content/smartwizard")
<h2>All Examination</h2>

<div class="row">
    <div class="col mb-2">
        @if (User.CheckPermission(typeof(QBCS.Web.Controllers.CourseController), nameof(QBCS.Web.Controllers.CourseController.GetAllCourse)))
        {
            <a href="@Url.Action("GetAllCourse", "Course")" class="btn btn-primary float-right spinner-loading">Create new Exam</a>
        }
    </div>
</div>

<div class="card shadow mb-4">
    <div class="card-body">
        <table class="table table-bordered table-striped text-center" id="dataTable" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th class="text-custom">Course</th>
                    <th class="text-custom">Code</th>
                    <th class="text-custom">Generated Date</th>
                    <th class="text-custom">Easy</th>
                    <th class="text-custom">Medium</th>
                    <th class="text-custom">Hard</th>
                    <th class="text-custom">Action</th>
                </tr>
            </thead>
            <tbody class="text-custom">
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Course.Code</td>
                        <td>@item.ExamCode</td>
                        <td>@item.GeneratedDate.ToString("HH:mm dd/MM/yyyy")</td>
                        <td>@item.NumberOfEasy</td>
                        <td>@item.NumberOfMedium</td>
                        <td>@item.NumberOfHard</td>

                        <td>
                            @if (item.IsDisable == false)
                            {
                                if (User.CheckPermission(typeof(QBCS.Web.Controllers.ExaminationController), nameof(QBCS.Web.Controllers.ExaminationController.DetailExam)))
                                {
                                    <a href="@Url.Action("DetailExam", "Examination", new { examId = item.Id })" class="btn btn-primary spinner-loading" role="button">Detail</a>
                                }
                                if (User.CheckPermission(typeof(QBCS.Web.Controllers.ExaminationController), nameof(QBCS.Web.Controllers.ExaminationController.DisableExam)))
                                {
                                    <a href="@Url.Action("DisableExam", "Examination", new { examId = item.Id })" class="btn btn-danger spinner-loading" role="button">Disable</a>
                                }
                            }
                            else
                            {
                                <p>Disabled</p>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@Scripts.Render("~/bundles/script/datatables")
@Scripts.Render("~/bundle/scripts/smartwizard")