@model List<QBCS.Service.ViewModel.PartOfExamViewModel>
@{
    ViewBag.Title = "Generate Exam";
    var counter = 0;
}
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Examination</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
        </div>
        <table class="table table-striped" id="dataTableExam" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th>No.</th>
                    <th>Code</th>
                    <th>Question</th>
                    <th>Level</th>
                    <th>Topic/Learning Outcome</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var part in Model)
                {
                    foreach (var question in part.Question)
                    {
                        <tr>
                            @{
                                counter++;
                            }
                            <td>@counter</td>
                            <td>@question.QuestionCode</td>
                            <td>
                                <div>
                                    <p>@question.QuestionContent</p>
                                    @foreach (var option in question.Options)
                                    {
                                        if (option.IsCorrect == true)
                                        {
                                            <div class="container-fluid text-green-success">
                                                @option.OptionContent
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="container-fluid">
                                                @option.OptionContent
                                            </div>
                                        }
                                    }
                                </div>
                            </td>
                            <td>
                                @question.Level.Name
                            </td>
                            <td>
                                @if (part.LearningOutcome != null)
                                {
                                    @Html.DisplayFor(lo => part.LearningOutcome.Name)
                                }
                            </td>
                        </tr>
                                    }
                                }

            </tbody>
        </table>
    </div>
</div>
<form id="exportExamination">
    <div class="row form-group">
        <div>
            <h5>File extension :</h5>
        </div>
        <input type="hidden" name="examinationId" value="@Model[0].ExaminationId" />
        
        <div class="col-lg-2">
            <select id="fileExtension" class="form-control">
                <option value="gift">GIFT</option>
                <option value="xml">XML</option>
            </select>
        </div>
       
        <input type="submit" name="Export" value="Export" class="btn btn-primary float-right" />
    </div>
    <div class="row form-group">
        <div class="el-checkbox text-center">
            <span class="margin-r" style="font-size:1.3em;">Get category : </span>
            <input type="checkbox" name="getCategory" id="getCategory">
            <label class="el-checkbox-style" for="getCategory"></label>
        </div>
    </div>
</form>
