@model IEnumerable<QBCS.Service.ViewModel.UserViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>User list</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.Username)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fullname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Role)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        string disableClass = "";
        if (item.IsDisable)
        {
            disableClass = "bg-gray-300";
        }
        <tr class="@disableClass" onClick="document.location.href='@Url.Action("Details", "User",new { userId = item.Id})'">


            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fullname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Role)
            </td>
            <td>
                <a href="@Url.Action("Details", "User",new { userId = item.Id })" class="btn btn-primary float-right">Details</a>
                @if (!item.IsDisable)
                {
                    <a href="@Url.Action("Disable", "User", new { userId = item.Id})" class="btn btn-danger float-right mr-1">Disable</a>
                }
            </td>
        </tr>
    }

</table>
<style>
    tr:hover td {
        background-color: #fefefe;
        cursor: pointer;
    }
</style>