@model IEnumerable<QBCS.Service.ViewModel.LogViewModel>

@{
    ViewBag.Title = "GetListActivity";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int counter = 0;
}

@Styles.Render("~/bundles/content/datatables")

<h4>Activities Detail</h4>
@if (Model != null && Model.Count() > 0)
{
    <div class="card shadow mb-4">
        <a href="#collapse" class="d-block card-header" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
            <h5>Import Question</h5>
        </a>

        <div class="card-body collapse show" id="collapse">
            @foreach (var item in Model)
            {

                if (item.Message.Contains("import"))
                {
                    <p class="text-custom"> User Import: @item.Fullname</p>
                    <p class="text-custom"> Owner: @item.OwnerName</p>
                    <p class="text-custom"> Action: @item.Message</p>
                    <p class="text-custom">
                        Course Code:
                        @if (item.CourseCode != null || item.CourseCode != "")
                        {
                            @item.CourseCode
                        }
                        else
                        {
                        <p>N/A</p>
                    }

                        </p>
                        <p class="text-custom"> Date: @item.LogDate</p>
                        <div class="table-responsive text-custom">
                            <table class="table table-bordered text-custom table-hover" id="dataTable">
                                <thead>
                                    <tr>
                                        <th>No</th>
                                        <th>Question Code</th>

                                        @*<th>Course</th>
                                            <th>Learning outcome</th>
                                            <th>Level</th>*@
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var itemQues in item.listQuestion)
                                    {
                                        <tr>
                                            @{
                                                counter++;
                                            }
                                            <td>@counter</td>
                                            <td>@itemQues.QuestionCode</td>
                                            @*@if (itemQues.CourseCode != null)
                                                {
                                                    <td>@itemQues.CourseCode</td>
                                                }
                                                else
                                                {
                                                    <td>N/A</td>
                                                }*@
                                            @*@if (!itemQues.LearningOutcomeId.Equals(0))
                                                {
                                                    <td>@itemQues.CourseCode</td>
                                                }
                                                else
                                                {
                                                    <td>N/A</td>
                                                }
                                                @if (itemQues.Level != null)
                                                {
                                                    <td>@itemQues.CourseCode</td>
                                                }
                                                else
                                                {
                                                    <td>N/A</td>
                                                }*@

                                            @*<td>@itemQues.LearningOutcomeId</td>
                                                <td>@itemQues.Level</td>*@


                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    }





                }

        </div>

    </div>
}
else
{
    <p class="text-custom">This import was canceled</p>
}

@Scripts.Render("~/bundles/script/datatables")



