@model IEnumerable<QBCS.Service.ViewModel.LogViewModel>

@{
    ViewBag.Title = "GetListActivity";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string alpha = "ABCDEFGHIKLMNOPQRSTUVWXYZ";
}

<h2>Activities Detail</h2>


<div class="card shadow mb-4">
    <a href="#collapseUpdate" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
        <h2>Update Question</h2>
    </a>

    <div class="card-body collapse show" id="collapseUpdate">

        @foreach (var item in Model)
        {
            if (item.QuestionNew != null && item.QuestionOld != null)
            {
                <p class="text-custom"> User: @item.Fullname</p>
                <p class="text-custom"> Action: @item.Message</p>
                <p class="text-custom"> Date: @item.LogDate</p>
                <p class="text-custom"> Question Code: @item.QuestionNew.QuestionCode</p>


                <div class="table-responsive text-custom">
                    <table class="table table-bordered table-hover text-custom" id="customs-display">
                        <thead>
                            <tr>
                                <th>New Question</th>
                                <th>Old Question</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    Category: @item.QuestionNew.CourseName <br />
                                    LOC: @item.QuestionNew.LearningOutcomeName <br/>
                                    Level: @item.QuestionNew.LevelName <br />
                                    Question:
                                    @if (item.QuestionNew.Image != null)
                                    {
                                        <img class="exam-image" src="data:image/png;base64, @item.QuestionNew.Image" />
                                    } <br/>
                                    <p id="new">@item.QuestionNew.QuestionContent</p>
                                    Answer:
                                    @for (var i = 0; i < item.QuestionNew.Options.Count; i++)
                                    {
                                        if (item.QuestionNew.Options[i].IsCorrect == true)
                                        {
                                            <div class="container-fluid text-right-answer">
                                                @(alpha[i] + ".") @Html.DisplayFor(optionItem => item.QuestionNew.Options[i].OptionContent)
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="container-fluid">
                                                @(alpha[i] + ".") @Html.DisplayFor(optionItem => item.QuestionNew.Options[i].OptionContent)
                                            </div>
                                        }

                                        <br />
                                    }
                                </td>
                                <td>
                                    Category: @item.QuestionOld.CourseName <br />
                                    LOC: @item.QuestionOld.LearningOutcomeName <br />
                                    Level: @item.QuestionOld.LevelName <br />
                                    Question:
                                    @if (item.QuestionOld.Image != null)
                                    {
                                        <img class="exam-image" src="data:image/png;base64, @item.QuestionOld.Image" />
                                    } <br/>
                                    <p id="old">@item.QuestionOld.QuestionContent</p>
                                    Answer:
                                    @for (var i = 0; i < item.QuestionOld.Options.Count; i++)
                                    {
                                        if (item.QuestionOld.Options[i].IsCorrect == true)
                                        {
                                            <div class="container-fluid text-right-answer">
                                                @(alpha[i] + ".") @Html.DisplayFor(optionItem => item.QuestionOld.Options[i].OptionContent)
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="container-fluid">
                                                @(alpha[i] + ".") @Html.DisplayFor(optionItem => item.QuestionOld.Options[i].OptionContent)
                                            </div>
                                        }

                                        <br />
                                    }
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            }
            else
            {
                <p>None of data available</p>
            }


        }

        @*<div class="table-responsive text-custom">
                <table class="table table-bordered table-hover text-custom" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>

                            <th>User</th>
                            <th>Date</th>
                            <th>Message</th>
                            <th>New</th>
                            <th>Old</th>


                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>

                                <td>
                                    @item.Fullname
                                </td>
                                <td>
                                    @item.LogDate
                                </td>
                                <td>@item.Message</td>
                                <td>
                                    @item.QuestionNew.QuestionContent <br />
                                    @for (var i = 0; i < item.QuestionNew.Options.Count; i++)
                                    {
                                        if (item.QuestionNew.Options[i].IsCorrect == true)
                                        {
                                            <div class="container-fluid text-right-answer">
                                                @Html.DisplayFor(optionItem => item.QuestionNew.Options[i].OptionContent)
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="container-fluid">
                                                @Html.DisplayFor(optionItem => item.QuestionNew.Options[i].OptionContent)
                                            </div>
                                        }

                                        <br />
                                    }

                                </td>
                                <td>
                                    @item.QuestionOld.QuestionContent <br />
                                    @for (var i = 0; i < item.QuestionOld.Options.Count; i++)
                                    {
                                        if (item.QuestionOld.Options[i].IsCorrect == true)
                                        {
                                            <div class="container-fluid text-right-answer">
                                                @Html.DisplayFor(optionItem => item.QuestionOld.Options[i].OptionContent)
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="container-fluid">
                                                @Html.DisplayFor(optionItem => item.QuestionOld.Options[i].OptionContent)
                                            </div>
                                        }

                                        <br />
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>*@
    </div>
</div>

