@model List<List<QBCS.Service.ViewModel.RuleViewModel>>
@using QBCS.Service.ViewModel
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
    <head>
        <link rel="stylesheet" href="~/Scripts/bootstrap-tagsinput.css" />
        <script src="~/Scripts/jquery-3.3.1.min.js"></script>
        <script src="~/Scripts/bootstrap-tagsinput.js"></script>
        <script src="~/Scripts/sweetalert.min.js" ></script>
        <script src="~/Scripts/myjs/staffjs/edit-rule.js"></script>
    </head>

<h2>Rules</h2>
<div>
    Default Activation Date: <input type="date" id="default_datetime" />
</div>
@foreach (List<QBCS.Service.ViewModel.RuleViewModel> rvm in Model)
{
    <div class="card shadow mb-4">
        <a href="#collapse_@rvm.FirstOrDefault().GroupTypeEnum" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
            <h6 class="m-0 font-weight-bold text-primary">@rvm.FirstOrDefault().GroupTypeEnum.ToString().Replace("_"," ") Rule</h6>
        </a>
        <div class="card-body collapse show" id="collapse_@rvm.FirstOrDefault().GroupTypeEnum" style="padding-left:30px">
            @*<button class="btn btn-primary" onclick="addField(event,'table_@rvm.FirstOrDefault().GroupTypeEnum','@rvm.FirstOrDefault().Value.FirstOrDefault().')">Add @rvm.FirstOrDefault().GroupTypeEnum Banned Word</button>*@
            <div class="table-responsive">
                <table class="table table-bordered text-custom" @*id="dataTable"*@ id="table_@rvm.FirstOrDefault().GroupTypeEnum" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Code</th>
                            <th>Name</th>
                            <th class="col-sm">Value</th>
                            <th class="col-sm">Activate Date</th>
                            @*<th>Group</th>*@
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var rule in rvm)
                        {
                            if (rule.Id == 3 || rule.Id == 9 || rule.Id == 12 || rule.Id == 15)
                            {
                                <tr>
                                    <td hidden id="id">@rule.Id</td>
                                    <td>@rule.Code</td>
                                    <td>@rule.Name</td>
                                    <td>
                                        <div id="">
                                            @* Any changes make to this line must also change at
                                                bootstrap-tagsinput.js line 142*@
                                            <select multiple id="select_@rule.Id" data-role="tagsinput">
                                                @if (rule.Value.Count != 0)
                                                {
                                                    foreach (var value in rule.Value)
                                                    {
                                                        <option selected="selected" value="@value.Value">@value.Value</option>
                                                    }
                                                }
                                            </select>
                                        </div>
                                    </td>
                                    <td>
                                        <input type="date" id="date">
                                    </td>
                                </tr>
                            }
                            else
                            {
                                foreach (var value in rule.Value)
                                {
                                    <tr>
                                        <td hidden id="id">@value.KeyId</td>
                                        <td>@rule.Code</td>
                                        <td>@rule.Name</td>
                                        <td><input type="text" class="form-control" id="value" name="@value.Value" value="@value.Value" placeholder="@value.Value" /></td>
                                        <td>
                                            <input type="date" id="date">
                                        </td>
                                        @*<td>@value.ValueGroup</td>*@
                                    </tr>
                                }
                            }
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
}

<div style="text-align:right"><button id="save" class="btn-lg btn-primary">Save Rule</button></div>

