@model List<List<QBCS.Service.ViewModel.RuleViewModel>>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col">
        <h2>Rules</h2>
    </div>
    <div class="col mb-2">
        <a href="@Url.Action("Edit", "Rule")" class="btn btn-primary float-right">Edit Rule</a>
    </div>
</div>
@foreach (List<QBCS.Service.ViewModel.RuleViewModel> rvm in Model)
{
    <div class="card shadow mb-4">
        <a href="#collapse_@rvm.FirstOrDefault().GroupTypeEnum" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
            <h6 class="m-0 font-weight-bold text-primary">@rvm.FirstOrDefault().GroupTypeEnum Rule</h6>
        </a>
        <div class="card-body collapse show" id="collapse_@rvm.FirstOrDefault().GroupTypeEnum" style="padding-left:30px">
            <div class="table-responsive">
                <table class="table table-bordered" @*id="dataTable"*@ cellspacing="0">
                    <thead>
                        <tr>
                            <th>Code</th>
                            <th>Name</th>
                            <th class="col-sm">Value</th>
                            <th class="col-sm">Create Date</th>
                            <th class="col-sm">Activate Date</th>
                            <th>Group</th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var rule in rvm)
                        {
                            foreach (var value in rule.Value)
                            {
                                <tr>
                                    <td>@rule.Code</td>
                                    <td>@rule.Name</td>
                                    <td>@value.Value</td>
                                    <td>@value.CreateDate</td>
                                    <td>@value.ActivateDate</td>
                                    <td>@value.ValueGroup</td>
                                </tr>
                            }

                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
}

@*<div class="card shadow mb-4">
    <a href="#collapseOption" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
        <h6 class="m-0 font-weight-bold text-primary">Option Rule</h6>
    </a>
    <div class="card-body collapse show" id="collapseOption" style="padding-left:30px">

        <div class="table-responsive">
            <table class="table table-bordered" id="datatableOption" cellspacing="0">
                <thead>
                    <tr>
                        <th>Code</th>
                        <th>Name</th>
                        <th class="col-md-6">Value</th>
                        <th>Create Date</th>
                        <th>Activate Date</th>
                        <th>Group</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td>Test</td>
                        <td>TestName</td>
                        <td>TestValue</td>
                        <td>TestCDate</td>
                        <td>TestADate</td>
                        <td>TestGroup</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>*@

