@model int
@using QBCS.Service.Enum

@{
    /**/

    ViewBag.Title = "Result";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/bundles/content/datatables")
@Styles.Render("~/bundle/content/tab")

<h4>Result</h4>
<h6>Subject: @TempData["course"]</h6>
@{

    <div id="question-import">
        <input type="hidden" name="courseId" id="courseId" value="@Model" />
        <div class="tabs tabs-style-topline">
            <nav class="hidden">
                <ul>
                    <li><a href="#section-topline-1" id="section-bank-editable"><span>Editable</span></a></li>
                </ul>
            </nav>
            <div class="content-wrap">
                <section id="section-topline-1">
                    <div id="editable">
                        <div class="card shadow mb-4">
                            <div class="card-body text-custom">
                                <div class="table-responsive text-custom" id="importTable">
                                    <table class="table table-bordered text-custom" id="tableBankEditable" width="100%" cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th>No.</th>
                                                <th>Question</th>
                                                <th>Duplicated With</th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div><!-- /content -->
        </div><!-- /tabs -->

    </div>

}
@Scripts.Render("~/bundles/script/datatables")
@Scripts.Render("~/bundle/scripts/tab")
@Scripts.Render("~/bundle/scripts/tabresult")
@Scripts.Render("~/bundle/scripts/importfile")