@model QBCS.Service.ViewModel.QuestionDetailViewModel

@{
    ViewBag.Title = "Edit Question";
    var counter = 0;
}

<h2>Edit Question</h2>
@using (Html.BeginForm("UpdateQuestion", "Question", FormMethod.Post, new { @class = "form-group" }))
{


    <div class="container text-custom">
        <div class="col-lg-8">
            <div class="form-group">
                <input type="hidden" name="Id" value="@Model.Question.Id" />
            </div>
            <div class="form-group text-custom">
                <label>Question</label>
                <div class="customs-display customs-display-area question-custom" contenteditable="true" data-for="hidden-question-content">
                    @Html.DisplayFor(model => model.Question.QuestionContent)
                </div>
                <input type="hidden" name="QuestionContent" value="" id="hidden-question-content" />
            </div>
            <label>Options</label>
            @foreach (var option in Model.Question.Options)
            {
                <div class="row">
                    <div class="form-group">
                        <input type="hidden" name="Options[@counter].Id" value="@option.Id" />
                    </div>
                    <div class="col-lg-10">
                        <div class="customs-display customs-display-input option-customs" contenteditable="true" data-for="#o-@counter">
                            @Html.DisplayFor(m => option.OptionContent)
                        </div>
                        <div class="form-group">
                            <input class="form-control" name="Options[@counter].OptionContent" type="hidden" value="@option.OptionContent" id="o-@counter" />
                        </div>
                    </div>

                    <div class="col-lg-2">
                        <div class="form-group">
                            <label class="el-switch el-switch-green">
                                @if (option.IsCorrect == true)
                                {
                                    <input name="Options[@counter].IsCorrect" value="true" type="checkbox" checked />
                                }
                                else
                                {
                                    <input name="Options[@counter].IsCorrect" value="true" type="checkbox" />
                                }

                                <span class="el-switch-style"></span>
                            </label>
                        </div>
                        @{ counter++; }
                    </div>
                </div>
                <br />
            }
            <div class="form-group">
                <label>Learning Outcome</label>
                <select name="LearningOutcomeId" class="form-control">
                    <option>---Select an Option---</option>
                    @foreach (var lo in Model.LearningOutcomes)
                    {
                        if (lo.Id == Model.Question.LearningOutcomeId)
                        {
                            <option selected value="@lo.Id">@lo.Name</option>
                        }
                        else
                        {
                            <option value="@lo.Id">@lo.Name</option>
                        }
                    }
                </select>
            </div>

            <div class="form-group">
                <label>Level</label>
                <select name="LevelId" class="form-control">
                    <option>---Select an Option---</option>
                    @foreach (var l in Model.Levels)
                    {
                        if (l.Id == Model.Question.LevelId)
                        {
                            <option selected value="@l.Id">@l.Name</option>
                        }
                        else
                        {
                            <option value="@l.Id">@l.Name</option>
                        }
                    }
                </select>
            </div>
            <div class="row">
                <input type="hidden" name="CourseId" value="@Model.Question.CourseId" />
                <div class="float-right col-md-12">
                    <input type="submit" name="Update" value="Update" class="btn btn-primary float-right ml-2" id="btnUpdate" />
                    <a class="btn btn-default border-dark text-custom float-right" href="@Url.Action("CourseDetail", "Course", new { courseId=Model.Question.CourseId })">Cancel</a>
                </div>
            </div>
        </div>

    </div>
}

