@model QBCS.Web.Models.QuestionDetailViewModel

@{
    ViewBag.Title = "EditQuestion";
}

<h2>Edit Question</h2>
@using (Html.BeginForm("UpdateQuestion", "Question", new { @class = "form-group" }))
{


<div class="container">
    <div class="col-lg-8">
        <div class="form-group">
            <input type="hidden" name="QuestionId" value="@Model.QuestionViewModel.Question.Id"/>
        </div>
        <div class="form-group">
            <label>Question</label>
            <textarea class="form-control" rows="8" name="QuestionContent" >@Html.DisplayFor(model => model.QuestionViewModel.Question.QuestionContent)</textarea>
        </div>
        <label>Option</label>
        @foreach (var option in Model.QuestionViewModel.Options)
        {
            <div class="row">
                <div class="form-group">
                    <input type="hidden" name="OptionId" value="@option.Id" />
                </div>
                <div class="col-lg-10">
                    <div class="form-group">
                        <input class="form-control" name="OptionContent" type="text" value="@option.OptionContent" />
                    </div>
                </div>
                
                <div class="col-lg-2">
                    <div class="form-group">
                        <label class="el-switch el-switch-green">
                            @if (option.IsCorrect == true)
                            {
                                <input name="IsCorrect" type="checkbox" checked />
                            }
                            else
                            {
                                <input name="IsCorrect" type="checkbox" />
                            }

                            <span class="el-switch-style"></span>
                        </label>
                    </div>
                    
                </div>
            </div>
            <br/>
        }
        <div class="form-group">
            <label>Topic</label>
            <select name="TopicId" class="form-control">
                <option>---Select an Option---</option>
                @foreach (var topic in Model.Topics)
            {
                if (topic.Id == Model.QuestionViewModel.Question.TopicId)
                {
                        <option selected value="@topic.Id">@topic.Name</option>
                    }
                    else
                    {
                        <option value="@topic.Id">@topic.Name</option>
                    }
                }
            </select>
            </div>

        <div class="form-group">
            <label>Learning Outcome</label>
            <select name="LearningOutcomeId" class="form-control">
                <option>---Select an Option---</option>
                @foreach (var lo in Model.LearningOutcomes)
            {
                if (lo.Id == Model.QuestionViewModel.Question.LearningOutcomeId)
                {
                        <option selected value="@lo.Id">@lo.Name</option>
                    }
                    else
                    {
                        <option value="@lo.Id">@lo.Name</option>
                    }
                }
            </select>
            </div>

        <div class="form-group">
            <label>Level</label>
            <select name="LevelId" class="form-control">
                <option>---Select an Option---</option>
                @foreach (var l in Model.Levels)
            {
                if (l.Id == Model.QuestionViewModel.Question.LevelId)
                {
                        <option selected value="@l.Id">@l.Name</option>
                    }
                    else
                    {
                        <option value="@l.Id">@l.Name</option>
                    }
                }
            </select>
            </div>
            <div class="row" style="height:50px;"></div>
            <div class="text-center">
                <input type="submit" name="Update" value="Update" class="btn btn-success float-right" />
            </div>
        </div>

    </div>
}

