@model IEnumerable<QBCS.Web.Models.QuestionViewModel>

@{
    ViewBag.Title = "ListQuestion";
    int counter = 0;
}

<h2>ListQuestion</h2>

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <a href="@Url.Action("AddQuestion", "question", new { courseId = Model.First().Question.CourseId})" class="btn btn-primary float-right">Add Question</a>
        </div>
    </div>
    <div class="row">
        <table class="table">
            <tr>

                <th>No.</th>
            
                <th class="col-md-8">Question</th>


                <th class="col-md-4">Option</th>


            </tr>
        @foreach (var item in Model)
        {
            <tr>
                    @{ 
                        counter++;
                    }
                    <td>@counter</td>
                    <td class="col-md-8">
                        @Html.DisplayFor(modeItem => item.Question.QuestionContent)
                        <br/>
                        <div>
                            <a class="btn btn-primary" href="@Url.Action("GetQuestionDetail", "Question", new { id = @item.Question.Id})" role="button">Edit</a>
                        </div>
                    </td>
                
                
                    <td class="col-md-4">
                        @foreach (var option in item.Options)
                        {
                            if (option.IsCorrect == true)
                            {
                                <div class="row bg-success text-white container-fluid text-center">
                                    @Html.DisplayFor(optionItem => option.OptionContent)
                                </div>
                            }
                            else
                            {
                                <div class="container-fluid">
                                    @Html.DisplayFor(optionItem => option.OptionContent)
                                </div>
                            }

                            <br />
                        }
                    </td>


                </tr>
            }

        </table>
    </div>
</div>
