@model QBCS.Service.ViewModel.UserViewModel
@using QBCS.Service.ViewModel
@{
    /**/

    /**/

    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int selectedCourse = TempData["CourseId"] != null ? (int)TempData["CourseId"] : 0;
}
@Styles.Render("~/bundle/content/autocompleteLecturer")
@Styles.Render("~/bundle/content/importfile")
<div class="container-fluid ml-5">
    @*<div class="row">
            <div class="col-md-10 mb-2">
                <a class="text-info btn-link  float-right" href="@Url.Action("ImportWithTextArea", "Home")">Switch to input manually</a>
            </div>
        </div>*@
    <div class="row">

        <div class="col-md-10">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Import Question</h6>

                </div>


                <div class="card-body">

                    @*<div class="col-xl-3 col-md-6 mb-4">
                            <a href="" class="btn btn-primary float-left">Import Question</a>
                        </div>*@

                    @using (Ajax.BeginForm("ImportFile", "Question", "", new AjaxOptions()
                    {
                        OnSuccess = "turnon_modal",
                        HttpMethod = "POST",


                    }, new { enctype = "multipart/form-data" }))
                    {

                        @*@using (Html.BeginForm("ImportFile", "Question", FormMethod.Post, new { enctype = "multipart/form-data" }))
                            {*@
                        <!-- COMPONENT START -->
                        <i class="text-dark text-custom">Enter owner name:</i>
                        <div class="form-group pb-2 ui-widget">
                            <input id="myautocomplete" class="form-control text-custom border-dark" value="@TempData["OwnereName"]" />
                            <input id="autocompleteLecturerId" name="ownerName" hidden />
                        </div>
                        <i class="text-dark text-custom">Choose a course:</i>
                        <div class="form-group pb-2">
                            @if (Model == null || Model.Courses == null || Model.Courses.Count == 0)
                            {
                                <select class="form-control text-custom border-dark">
                                    <option selected>[None course available]</option>
                                </select>
                            }
                            else
                            {
                                @Html.DropDownList("courseId", Model.Courses.Select(c => new SelectListItem
                           {
                               Value = c.CourseId + "",
                               Text = c.Code + " - " + c.Name,
                               Selected = c.CourseId == selectedCourse
                           }), new { @class = "form-control text-custom border-dark" })
                            }
                        </div>
                        <div class="custom-control custom-checkbox text-custom">
                            <input type="checkbox" name="checkCate" value="true" class="custom-control-input" id="defaultChecked2" checked>
                            <label class="custom-control-label" for="defaultChecked2">Get Category in File</label>
                        </div><br />
                        <div class="custom-control custom-checkbox text-custom">
                            <input type="checkbox" name="checkHTML" value="true" class="custom-control-input" id="defaultChecked1">
                            <label class="custom-control-label" for="defaultChecked1">Get HTML element in File</label>
                        </div>
                        <div id="drop_file_zone" ondrop="upload_file(event)" ondragover="return false">
                            <div id="drag_upload_file">
                                <p>Drag and Drop file here</p> 
                                <input type="file" id="selectfile">
                            </div>
                        </div>
                        <!-- COMPONENT END -->
                        <div class="form-group text-custom mt-3">
                            <i class="text-dark text-custom">Or Choose a File:</i>
                            <div class="input-group input-file text-custom" name="questionFile">
                                <input type="text" class="form-control border-dark" id="inFile" required />
                                <span class="input-group-btn">
                                    <button class="btn btn-import-file btn-choose" type="button">Choose</button>
                                </span>

                            </div>
                        </div>
                        <div id="uploads"></div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary float-right" id="btnImport">Import</button>
                            <button type="reset" class="btn btn-outline-light float-right border-dark text-custom mr-2">Cancel</button>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" tabindex="-1" role="dialog" id="success-modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Processing</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <p>Your import questions are<b> processing</b>.</p>
                <p>We will notifiy you when it has the result</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Ok</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

@Scripts.Render("~/bundle/scripts/importfile")
@Scripts.Render("~/bundle/scripts/autocompleteLecturer")