@model QBCS.Service.ViewModel.ImportResultViewModel
@using QBCS.Service.Enum

@{
    /**/

    ViewBag.Title = "GetResult";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["importId"] = Model.Id;
}
<h2>Result</h2>
@{

    int total = Model.Questions.Count;
    int editable = Model.Questions.Where(q => q.Status == StatusEnum.Editable || q.Status == StatusEnum.DeleteOrSkip).Count();
    int delete = Model.Questions.Where(q => q.Status == StatusEnum.Delete).Count();
    int success = Model.Questions.Where(q => q.Status == StatusEnum.Success).Count();

    <div id="question-import">
        <div class="tabs tabs-style-topline">
            <nav>
                <ul>
                    <li><a href="#section-topline-1"><span>Editable (@editable/@total)</span></a></li>
                    <li><a href="#section-topline-2"><span>Delete (@delete/@total)</span></a></li>
                    <li><a href="#section-topline-3"><span>Sucess (@success/@total)</span></a></li>
                </ul>
            </nav>
            <div class="content-wrap">
                <section id="section-topline-1">
                    @Html.Partial("_ListQuestionWithDuplicate", Model.Questions.Where(q => q.Status == StatusEnum.Editable || q.Status == StatusEnum.DeleteOrSkip).ToList(), new ViewDataDictionary { { "tableId", "tableEditable"} })
                </section>
                <section id="section-topline-2">
                    @Html.Partial("_ListQuestionWithDuplicate", Model.Questions.Where(q => q.Status == StatusEnum.Delete).ToList(), new ViewDataDictionary { { "tableId", "tableDelete" } })
                </section>
                <section id="section-topline-3">
                    @Html.Partial("_ListQuestionWithDuplicate", Model.Questions.Where(q => q.Status == StatusEnum.Success).ToList(), new ViewDataDictionary { { "tableId", "tableSuccess" } })
                </section>
            </div><!-- /content -->
        </div><!-- /tabs -->

    </div>
    <button class="btn btn-primary float-right col-md-1 ml-1 mb-4" data-toggle="modal" data-target="#import-modal">Save</button>
    <button class="btn btn-outline-light float-right border-dark text-custom mr-2 col-md-1 mb-4" data-toggle="modal" data-target="#cancel-import-modal">Cancel</button>


    <div class="modal fade" tabindex="-1" role="dialog" id="import-modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Confirm</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <p>Are your sure want to save these questions?</p>
                    <p>- <b>@Model.Questions.Where(q => q.Status == StatusEnum.Editable || q.Status == StatusEnum.Delete).Count()/@Model.Questions.Count</b> will not insert to bank</p>
                    <p>- <b>@Model.Questions.Where(q => q.Status == StatusEnum.NotCheck).Count()/@Model.Questions.Count</b> will be checked again</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" id="import-btn" data-id="@Model.Id">OK</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div class="modal fade" tabindex="-1" role="dialog" id="cancel-import-modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Confirm</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <p>Are your sure want cancel this?</p>
                    <p>All your question in this import will be removed</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" id="cancel-import-btn" data-id="@Model.Id">OK</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
}
