@model QBCS.Service.ViewModel.UserViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<div class="col-md-9 personal-info">
    @*<div class="alert alert-info alert-dismissable">
        <a class="panel-close close" data-dismiss="alert">×</a>
        <i class="fa fa-coffee"></i>
        This is an <strong>.alert</strong>. Use this to show important messages to the user.
    </div>*@
    <h3>Personal info</h3>

    <form class="form-horizontal" role="form">
        <div class="form-group">
            <label class="col-lg-3 control-label">@Html.DisplayNameFor(model => model.UserCode): 
               </label>
            <div class="col-lg-8">
                <input class="form-control" type="text" value="@Html.DisplayFor(model => model.UserCode)">
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-3 control-label">@Html.DisplayNameFor(model => model.Fullname):
                </label>
            <div class="col-lg-8">
                <input class="form-control" type="text" value="@Html.DisplayFor(model => model.Fullname)">
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-3 control-label">@Html.DisplayNameFor(model => model.Role):</label>
            <div class="col-lg-8">
                <input class="form-control" type="text" value="@Html.DisplayFor(model => model.Role)">
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-3 control-label">@Html.DisplayNameFor(model => model.Email):
               </label>
            <div class="col-lg-8">
                <input class="form-control" type="text" value="@Html.DisplayFor(model => model.Email)">
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-3 control-label">@Html.DisplayNameFor(model => model.Username):</label>
            <div class="col-md-8">
                <input class="form-control" type="text" value="@Html.DisplayFor(model => model.Username)">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">@Html.DisplayNameFor(model => model.Password):</label>
            <div class="col-md-8">
                <input class="form-control" type="password" value="@Html.DisplayFor(model => model.Password)">
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-3 control-label"></label>
            <div class="col-md-8">
                <input type="button" class="btn btn-primary" value="Save Changes">
                <span></span>
                <input type="reset" class="btn btn-default" value="Cancel">
            </div>
        </div>
    </form>
</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
