@model IEnumerable<QBCS.Service.ViewModel.LearningOutcomeViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col">
        <h2>Learning Outcome</h2>
    </div>
    @*@if (role == 3)
        {*@
    <div class="col mb-2">
        <a href="@Url.Action("Add", "LearningOutcome")" class="btn btn-primary float-right">Add new Learning Outcome</a>
    </div>
    @*}*@

</div>
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">List of Topics</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive text-custom">
            <table class="table table-bordered" @*id="dataTable"*@ width="100%" cellspacing="0">
                <thead class="text-custom">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Code)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th>
                            Course
                        </th>
                        @*@if (role == 3)
                            {*@
                        <th>
                            Action
                        </th>
                        @*}*@
                    </tr>
                </thead>

                <tbody>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td hidden></td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Code)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CourseName)
                            </td>
                            @*@if (role == 3)
                                {*@
                            <td width="20%">
                                <a href="@Url.Action("Edit", "LearningOutcome", new { id = item.Id })" class="btn btn-primary">Edit</a>
                                <a href="@Url.Action("UpdateDisable", "LearningOutcome", new { itemId = item.Id })" class="btn btn-primary float-right ">
                                    Disable
                                </a>
                            </td>
                            @*}*@
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>