@model  QBCS.Service.ViewModel.CourseViewModel
@{
    ViewBag.Title = "CourseDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
@Styles.Render("~/bundles/content/datatables")
@Styles.Render("~/bundle/content/category")

@if (TempData["NewestCount"] != null)
{
    <div class="alert alert-primary alert-dismissible fade show" role="alert">
        <strong>@TempData["NewestCount"] new questions</strong> are inserted
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}
<h3>@Model.Name (@Model.Code)</h3>

@*<div class="row">
        <div class="col-lg-12 mb-2">
            <a href="@Url.Action("AddQuestion", "question")" class="btn btn-primary float-right">Add Question</a>
        </div>
    </div>*@
<div class="row">
    <div class="col-md-3">
        <button class="btn btn-info float-right " data-toggle="modal" data-target="#export-modal">Export Questions</button>
    </div>
    <div class="col-md-9 mb-2" id="move-btn-group">
        <div class="">
            <button class="btn btn-primary float-right" id="move-btn">Move Questions</button>
        </div>
    </div>

</div>


<div class="row">
    <div style="max-height: 100vh; overflow-y: auto; margin-bottom: 30px" class="list-group list-group-root well col-md-3 text-custom show-category">
        @Html.Partial("_ListCategory", Model)
    </div>
    <div id="list-question" class="col-md-9" data-id="@Model.Id">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">List of Questions</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive text-custom" id="divTable">
                    @*<table class="table table-bordered table-hover text-custom" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>No.</th>
                                    <th>Question</th>
                                    <th>Action</th>
                                    <th>
                                        <input type="checkbox" class="checkbox hidden" id="select-all" value="true" onclick="categoryView.toggleAll()" />
                                    </th>
                                </tr>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>*@
                </div>
            </div>
        </div>
    </div>
</div>



<div class="modal fade" tabindex="-1" role="dialog" id="modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Choose category</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <h6><strong id="selected-count">questions</strong> are selected</h6>
                <table class="text-center">
                    <thead>
                        <tr>
                            <th>No.</th>
                            <th>Code</th>
                            <th>Remove</th>
                        </tr>
                    </thead>
                    <tbody id="selected-questions"></tbody>
                </table>

                <h5>Choose catgory to move:</h5>
                <div class="list-group list-group-root well text-custom modal-category">
                    @foreach (var category in Model.Categories)
                    {

                        if (category.LearningOutcomes != null && category.LearningOutcomes.Count > 0)
                        {
                            <a href="#mc-@category.Id" class="list-group-item" data-toggle="collapse" data-category="@category.Id" data-lo="0" data-level="0">
                                <i class="fa fa-plus-circle"></i>@category.Name <span class="float-right">(@category.QuestionCount)</span>
                            </a>
                            <div class="list-group collapse" id="mc-@category.Id">
                                @foreach (var lo in category.LearningOutcomes)
                                {
                                    if (lo.Id != 0)
                                    {
                                        if (lo.Levels != null && lo.Levels.Count > 0)
                                        {
                                            <a href="#mlo-@lo.Id-@category.Id" class="list-group-item" data-toggle="collapse" data-category="@category.Id" data-lo="@lo.Id" data-level="0">
                                                <i class="fa fa-plus-circle"></i>@lo.Name <span class="float-right">(@lo.QuestionCount)</span>
                                            </a>
                                            <div class="list-group collapse" id="mlo-@lo.Id-@category.Id">
                                                @foreach (var level in lo.Levels)
                                                {
                                                    if (level.Id != 0)
                                                    {
                                                        <a href="#mlv-@level.Id" class="list-group-item" data-category="@category.Id" data-lo="@lo.Id" data-level="@level.Id">
                                                            @level.Name <span class="float-right">(@level.QuestionCount)</span>
                                                        </a>
                                                    }
                                                }

                                            </div>
                                        }
                                        else
                                        {
                                            <a href="#lo-@lo.Id-@category.Id" class="list-group-item" data-category="@category.Id" data-lo="@lo.Id" data-level="0">
                                                @lo.Name <span class="float-right">(@lo.QuestionCount)</span>
                                            </a>
                                        }
                                    }
                                }

                            </div>
                        }
                        else
                        {
                            <a href="#mc-@category.Id" class="list-group-item" data-id="@category.Id" data-category="@category.Id" data-lo="0" data-level="0">
                                @category.Name <span class="float-right">(@category.QuestionCount)</span>
                            </a>
                        }
                    }
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary spinner-loading" id="move-question-btn">OK</button>
            </div>

        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="export-modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Choose category</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <form method="post" action="@Url.Action("ExportBank", "ExaminationAPI")">
                <div class="modal-body form-group">
                    @foreach (var lo in Model.LearningOutcome)
                    {
                        <div class="row mb-2 ml-2">
                            <input type="checkbox" name="loId" class="checkbox mr-3" value="@lo.Id" id="@lo.Id" />
                            <h6>@lo.Name</h6>
                        </div>
                    }
                    <select name="extension" class="form-control">
                        <option value="gift">GIFT</option>
                        <option value="xml">XML</option>
                    </select>
                    <div class="row mb-2 ml-2">
                        <input type="checkbox" name="getCategory" class="checkbox mr-3" value="true" />
                        <h6>Get category</h6>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary">Export</button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>

@Scripts.Render("~/bundles/script/datatables")
@Scripts.Render("~/bundle/scripts/category")