@model List<QBCS.Service.ViewModel.CourseStatViewModel>
@using QBCS.Service.ViewModel
@{
    ViewBag.Title = "CourseStatistic";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var count = 1;
}

<div class="card shadow mb-4">
    @*<a href="#collapse_@rvm.FirstOrDefault().GroupTypeEnum" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
            <h6 class="m-0 font-weight-bold text-primary">@rvm.FirstOrDefault().GroupTypeEnum Rule</h6>
        </a>*@
    <div class="d-block card-header py-3">
        <h4 class="m-0 font-weight-bold text-primary">Course Statistics</h4>
    </div>
    <div class="card-body text-custom" style="padding-left:30px">
        <div class="table-responsive">
            <table class="table table-bordered" @*id="dataTable"*@ cellspacing="0">
                <thead>
                    <tr>
                        <th>No.</th>
                        <th>Name</th>
                        <th>Total</th>
                        <th>Easy</th>
                        <th>Medium</th>
                        <th>Hard</th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var courseDetail in Model)
                    {
                        var total = courseDetail.Easy + courseDetail.Medium + courseDetail.Hard;
                        <tr class="clickable">
                            <td>@count</td>
                            <td hidden id="courseId">@courseDetail.Id</td>
                            <td id="name">@courseDetail.Name</td>
                            <td>@total</td>
                            <td>@courseDetail.Easy</td>
                            <td>@courseDetail.Medium</td>
                            <td>@courseDetail.Hard</td>
                        </tr>
                        count++;
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="card shadow mb-4">
    <div class="d-block card-header py-3">
        <h4 class="m-0 font-weight-bold text-primary">Course: </h4><div id="header"></div>
    </div>
    <div class="card-body text-custom">
        <div class="table-responsive" id="detail_Table" tabindex="1">

        </div>
    </div>
</div>
<script src="~/Scripts/jquery-3.3.1.js"></script>
<script>
    $(document).ready(function () {
        $(document).on("click", ".clickable", function () {
            $('#detail_Table').focus();
            var courseId = $(this).find("#courseId").text();
            $('#header').empty();
            var courseName = $(this).find('#name').text();
            $('#header').append('<h4 class="m-0 font-weight-bold text-primary">' + courseName + '</h4>');
        var parseId = parseInt(courseId);
        $('#detail_Table').empty();
        $.ajax({
            type: "GET",
            url: '@Url.Action("GetCourseDetailStat","Course")',
            data: { courseId : parseId },
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        success: function (response) {
                            if (response != null) {
                                $('#detail_Table').append(
                                    '<table class="table table-bordered">' +
                                        '<thead>' +
                                            '<tr>' +
                                                '<th>No.</th>' +
                                                '<th>Type</th>' +
                                                '<th>Name</th>' +
                                                '<th>Total</th>' +
                                                '<th>Easy</th>' +
                                                '<th>Medium</th>' +
                                                '<th>Hard</th>' +
                                            '</tr>' +
                                        '</thead>' +
                                        '<tbody id="body">' +
                                        '</tbody>' +
                                    '</table>');
                                for (var i = 0; i < response.length; i++) {
                                    var total = response[i].Easy + response[i].Medium + response[i].Hard;
                                    $('#body').append(
                                        '<tr>' +
                                            '<td>' + (i + 1) + '</td>' +
                                            '<td>' + response[i].Type + '</td>' +
                                            '<td>' + response[i].Name + '</td>' +
                                            '<td>' + total + '</td>' +
                                            '<td>' + response[i].Easy + '</td>' +
                                            '<td>' + response[i].Medium + '</td>' +
                                            '<td>' + response[i].Hard + '</td>' +
                                        '</tr>'
                                    );
                                }
                            }
                        },
                        failure: function (response) {
                            alert(response.responseText);
                        },
                        error: function (response) {
                            alert(response.responseText);
                        }
                    });
        });
    });
</script>